{% extends "base.html" %} {% load static %}
{% block title %} login {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <h5>Have no account?</h5>
            <h5>Click<a href='{% url "userprofile:register" %}'> SIGN UP </a>to join us!</h5>
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <!-- username -->
                <div class="form-group">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <!-- password -->
                <div class="form-group">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <!-- submit btn -->
                <button type="submit" class="btn btn-secondary">Sumbit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}