{% extends "base.html" %}
{% load static %}

{% block title %}
Article Details
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="mt-4 mb-4">{{ article.title }}</h1>
            <div class="alert alert-success">Author: {{ article.author }}
                · {{ article.created }}
                {% if user == article.author %}
                · <a href="#" onclick="confirm_delete()">Delete</a>
                <form style="display:none;" id="delete" action="{% url 'article:article_delete' article.id %}"
                    method="POST">
                    {% csrf_token %}
                    <button type="submit">Send</button>
                </form>
                · <a href="{% url 'article:article_edit' article.id %}">Edit</a>
                {% endif %}
            </div>
            <div class="col-12 detail-article">
                <div class="col-2"></div>
                <div class="col-10">
                    <p>{{ article.body|safe }}</p>
                </div>
            </div>
            <!-- make comment -->
            <hr>
            {% if user.is_authenticated %}
            <div>
                <form action="{% url 'comment:post_comment' article.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>
                                Comment:
                            </strong>
                        </label>
                        <textarea type="text" class="form-control" id="body" name="body" rows="2"></textarea>
                    </div>
                    <!-- submit -->
                    <button type="submit" class="btn btn-secondary ">Submit</button>
                </form>
            </div>
            <br>
            {% else %}
            <br>
            <h5 class="row justify-content-center">
                Please<a href="{% url 'userprofile:login' %}"> comment </a>after login
            </h5>
            <br>
            {% endif %}



            <!-- show comments -->
            <h4>{{ comments.count }} comments in total</h4>
            <div>
                {% for comment in comments %}
                <hr>
                <p>
                    <strong style="color: rgb(192, 179, 120)">
                        {{ comment.user }}
                    </strong> comment in:
                    <span style="color: rgb(52, 182, 52)">
                        {{ comment.created|date:"Y-m-d H:i:s" }}
                    </span>
                </p>
                <pre style="font-family: inherit; font-size: 1em;">
{{ comment.body }}</pre>
                {% endfor %}
            </div>
        </div>
        <div class="col-3 mt-4">
            <h4><strong>Directory</strong></h4>
            <hr>
            <div>
                {{ toc|safe }}
            </div>
        </div>
    </div>

</div>

<script src="{% static 'layer/layui.js' %}"></script>


<script>
    function confirm_delete() {
        layer.open({
            title: "Confirm",
            content: "Are you sure to delete this article?",
            yes: function (index, layero) {
                $('form#delete button').click();
                layer.close(index);
            }
        })
    }
</script>
<!--latex-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    showProcessingMessages: false,
    messageStyle: "none",
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [['$', '$']], 
        displayMath: [["$$", "$$"]], 
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'a'],
        ignoreClass: "comment-content" 
    },
    "HTML-CSS": {
        availableFonts: ["STIX", "TeX"], 
        showMathMenu: true 
    }
});
MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
</script>
<script src="http://cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock content %}