{% extends "base.html" %}
{% load static %}

{% block title %}
Article Details
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">Author: {{ article.author }}
            · {{ article.created }}
            · <a href="#" onclick="confirm_delete()">Delete</a>
            <form style="display:none;" id="delete" action="{% url 'article:article_delete' article.id %}"
                method="POST">
                {% csrf_token %}
                <button type="submit">Send</button>
            </form>
            · <a href="{% url 'article:article_edit' article.id %}">Edit</a>
        </div>
        <div class="col-12 detail-article">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
</div>

<script src="{% static 'layer/layui.js' %}"></script>

<script>
    function confirm_delete() {
        layer.open({
            title: "Confirm",
            content: "Are you sure to delete this article?",
            yes: function (index, layero) {
                $('form#delete button').click();
                layer.close(index);
            }
        })
    }
</script>

{% endblock content %}