{% extends "base.html" %}
{% load static %}

{% block title %}
Article Details
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">Author: {{ article.author }}
            {% if user == article.author %}
            · {{ article.created }}
            · <a href="#" onclick="confirm_delete()">Delete</a>
            {% endif %}
            <form style="display:none;" id="delete" action="{% url 'article:article_delete' article.id %}"
                method="POST">
                {% csrf_token %}
                <button type="submit">Send</button>
            </form>
            · <a href="{% url 'article:article_edit' article.id %}">Edit</a>
        </div>
        <div class="col-12 detail-article">
            <p>{{ article.body|safe }}</p>
        </div>
    </div>
</div>

<script src="{% static 'layer/layui.js' %}"></script>


<script>
    function confirm_delete() {
        layer.open({
            title: "Confirm",
            content: "Are you sure to delete this article?",
            yes: function (index, layero) {
                $('form#delete button').click();
                layer.close(index);
            }
        })
    }
</script>
<!--latex-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    showProcessingMessages: false,
    messageStyle: "none",
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [['$', '$']], //行内公式选择$
        displayMath: [["$$", "$$"]], //段内公式选择$$
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'a'], //避开某些标签
        ignoreClass: "comment-content" //避开含该Class的标签
    },
    "HTML-CSS": {
        availableFonts: ["STIX", "TeX"], //可选字体
        showMathMenu: true //关闭右击菜单显示
    }
});
MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
</script>
<script src="http://cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock content %}