{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row mt-2">

        {% for article in articles %}
        <div class="col-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">{{ article.title }}</h4>
                <h7 class="card-header" align="right">{{ article.created }}</h7>
                <div class="card-body">
                    <p class="card-text">{{ article.body|safe }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">Read me</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<script type="text/javascript">
    let maxlen = 50;
    (function(){
        for(doc of document.getElementsByClassName("card-body")) {
            let text = doc.innerHTML
            let _text = ""
            let flag = false
            for(let i = 0; i < text.length; ++i) {
                if(text[i] == '<') flag = true 
                if(flag) {
                    if(text[i] == '>') flag = false 
                    continue
                }
                if(text[i] == ' ' || text[i] == '\n') {
                    if(_text == "" || _text[_text.length - 1] == ' ') continue;
                    _text += " ";
                }
                else _text += text[i];
            }
            if(_text.length > maxlen) {
                _text = _text.slice(0, maxlen)
                _text += "..."
            }
            doc.innerHTML = _text
        }
    })(window)
</script>

{% endblock content %}

