{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}

<style>
    .card-body {
        position: relative;
    }
    .show {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
</style>

<div class="container">
    <div class="row mt-2">

        {% for article in articles %}
        <div class="col-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">{{ article.title }}</h4>
                <h7 class="card-header" align="right">{{ article.created }}</h7>
                <div class="card-body">
                    <p class="card-text">{{ article.body|safe }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">Read me</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="preview"></div>
</div>

<script type="text/javascript">
    let maxlen = 100;
    let record = [];
    (function(){
        for(doc of document.getElementsByClassName("card-body")) {
            let text = doc.innerHTML
            record.push(text)
            let _text = "<div>"
            let flag = false
            for(let i = 0; i < text.length; ++i) {
                if(text[i] == '<') flag = true 
                if(flag) {
                    if(text[i] == '>') flag = false 
                    continue
                }
                if(text[i] == ' ' || text[i] == '\n') {
                    if(_text == "" || _text[_text.length - 1] == ' ') continue;
                    _text += " ";
                }
                else _text += text[i];
            }
            if(_text.length > maxlen) {
                _text = _text.slice(0, maxlen)
                _text += "..."
            }
            _text += "</div>"
            _text += "<div class=\"show\"> <a href=\"\" onclick=\"show_more(" + String(record.length - 1) + ")\">查看详情</a> </div>"
            doc.innerHTML = _text
        }
    })(window)

    function show_more(ind) {
    }
</script>

{% endblock content %}

