*{
    margin: 0;
    padding: 0;
}
.banner_text {
    position: absolute;
    z-index: 100;
    color: white;
    font-family: banner_text;
    opacity: 0;
    font-weight: 900;
    display: block;
    text-shadow: 1px 3px 1px black;
}
.welcome{
    left:15%;
}
.blog_text{
    left: 25%;
    top: 35%;
}