*{
    margin: 0;
    padding: 0;
}
.banner_text {
    position: absolute;
    z-index: 100;
    font-size: 100px;
    color: white;
    font-family: banner_text;
    opacity: 0;
    font-weight: 900;
    display: block;
}
.welcome{
    left:15%;
}
.blog_text{
    left: 25%;
    top: 30%;
    padding-top: 2%;
}