*{
    margin: 0;
    padding: 0;
}
.banner_text {
    position: absolute;
    z-index: 100;
    font-size: 100px;
    color: white;
    font-family: banner_text;
    opacity: 0;
    font-weight: 900;
}
.welcome{
    left:15%;
}
.blog_text{
    left: 25%;
    margin-top: 1%;
    margin-bottom: 5%;
    top: 20%;
}